.libs
.deps
.libs
.svn
*.la
*.lo
*.o
*.so
*.a
.dirstamp
*.dSYM
*.S
*.loT
*.orig
*.rej
*.class
*.xcscheme
*.plist
*~
*\\#

*.log
*.trs
*.mod

Makefile
Makefile.in

configure
config.log
config.status
autom4te.cache
config
aclocal.m4
reporting/OmpitestConfig.java
